**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/tests
**/Dockerfile
**/.dockerignore
**/.eslintignore
**/.eslintrc.js
**/.eslintrc
**/.gitignore
**/.nvmrc
**/jest.config.json
**/node_modules
**/.gitlab-ci.yml
**/.husky
**/.prettierrc
**/.gitattributes
